#title {
    color: blue;
    text-align: center;
}

#navDiv {
    display: flex;
    justify-content: space-around;
}

#visitorImg {
    width: 100px;
}

.crownSpace {
    height: 50px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: "";
}

#homeCrown {
    background-image: url("./crown.png");
    background-repeat: no-repeat;
    background-size: contain;
}